
 /* 2nd selector  */

 .flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #8ffcc9;
    width: 400px;
}
.flex-container>div {
    background-color: white;
    width: 60px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

 /* Code: Flex Balls 3 */

 body {
    font-family: monospace;
    background-color: #e2fffd;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: cyan;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

#box {
    width: 330px;
    height: 240px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
 
}

#box div {
    border-radius: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
}

#ball1 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
    flex-shrink: 1
    
}

#ball2 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
    flex-grow: 1;
}

#ball3 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
    flex-grow: 2;
}

#ball4 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
    flex-grow: 3;
}



 /* Using flex box Justify--content  */

#main {
    width: 400px;
    height: 100px;
    border: 5px solid #04AA6D;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    justify-content: space-between;
}

#main div {
    width: 70px;
    height: 70px;
}


  /* Code: Flex Balls 4 */

  #circle, #circles {
    width: 330px;
    height: 240px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
}

#circle div, #circles div {
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#circle1 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
}

#circle2 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
}

#circle3 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
}

#circle4 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
}

#circle5 {
    height: 70px;
    width: 70px;
    background-color: #dfff89;
}

#circle6 {
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
}


