#flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
  align-items: center;
}

#flex-container > div {
  background-color: #9b5252;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
